<%- include("header") -%>




 

    <div class="container">
      <div>
        <div class="clock-container">
          <h1>Pomodoro</h1>
          <p id="timer">00:00</p>
          <h2 class="subTitle">Timer</h2>
          
        </div>
        <button class="startBtn" onclick="start()">Start</button>
          <button class="pauseBtn" onclick="pause()">Pause</button>

          <button class="resetBtn" onclick="reset()">Reset</button>
        <form action="/" method="POST">
          <input class="timeInput" type="text" name="time" placeholder="total time">
          
          <input class="currentCountDown" type="text" name="time3" placeholder="count down">
          
          <input class="currentSessionTimeInput" type="text" name="time2" placeholder="current min">
          <p class="stuff"></p>
          
          <% if (loggedIn) {%> 
          <button class="submit submitBtn" type="submit" value="send">Submit</button>
          <% } %> 
         </form>

      <div class="reps-cont">
        <p class="reps"></p>

       </div>
      </div>
        
        

    </div>

    <div class="graph-container">
      <div class="inner-graph-container" >

      
    
    <div class="graph">
      <p>2021</p>
      <ul class="months">
        <li>Jan</li>
        <li>Feb</li>
        <li>Mar</li>
        <li>Apr</li>
        <li>May</li>
        <li>Jun</li>
        <li>Jul</li>
        <li>Aug</li>
        <li>Sep</li>
        <li>Oct</li>
        <li>Nov</li>
        <li>Dec</li>
      </ul>
      <ul class="days">
        <li>Sun</li>
        <li>Mon</li>
        <li>Tue</li>
        <li>Wed</li>
        <li>Thu</li>
        <li>Fri</li>
        <li>Sat</li>
      </ul>
      <ol class="squares" style="padding-left: 0px;" >
        <% for (var i = 0; i < firstDay; i++) { %>
          <% if (firstDay > i) { %>
             <li value="" data-level="" ></li>
            <% } %> 
            <% } %>

            <% for (var x = 0; x < 366; x++) { %>
              


              <% if (dayData[x] > 0) {%>  
                <% if (time[x]/ 60 < 1) { %> 
                  <li data-toggle="tooltip" data-placement="bottom" data-animation="false" delay="0" title="<%= time[x] + " minutes\n" + date[x] %>" data-level="<%= levelData[x] %>"></li>
                  <% } else { %> 
                  <li data-toggle="tooltip" data-placement="bottom" data-animation="false" delay="0" title="<%= Math.floor(time[x]/60)+ " hour/s\n" + time[x] % 60 + " minutes\n" + date[x] %>" data-level="<%= levelData[x] %>"></li>
                  <% } %> 
              <% } else { %>
          
            <li value="<%= i %>" data-level="0"></li>
            <% } %> 
          
            <% } %>
        </ol>

    </div>
  </div>
  </div>

  




   <script>
    
const workMin = 30;
const shortBreakMin = 5;
const longBreakMin = 15;
let reps = 0;
let endWork = 1;
let totalMin = 30;
let totalHours = 0;
let totalHoursMin = 30;
let count2 = 0;
let timer = null;
let isPaused = false;
let totalTime = null;
let startButton = document.querySelector(".startBtn");
let pauseButton = document.querySelector(".pauseBtn");
let timeInput = document.querySelector(".timeInput")

// timeInput.value = 0
timeInput.style.display = "none"
document.querySelector(".currentSessionTimeInput").style.display = "none"
document.querySelector(".currentCountDown").style.display = "none"
pauseButton.style.display = "none";


// ---------------------------- TIMER MECHANISM -------------------------------

function start(){
    
    
    startButton.style.display = "none";
    pauseButton.style.display = "inline-block";  

    
    if (isPaused === true){
        isPaused = false
    }
    else{
        reps ++;
        endWork ++;
        let workSec = workMin * 60;
        let shortBreakSec = shortBreakMin * 60
        let longBreakSec = longBreakMin * 60
       

        if ( reps % 8 === 0){
            countDown(longBreakSec, null);
            document.querySelector(".subTitle").innerText = "Long Break"
        }
        else if (reps % 2 === 0) {
            countDown(shortBreakSec, null);
            document.querySelector(".subTitle").innerText = "Short Break"
        }
        else {
            countDown(workSec, 30);
            document.querySelector(".subTitle").innerText = "Work"
            
        };
    }
    
};


// ---------------------------- COUNTDOWN MECHANISM -----------------------------

function countDown(count, count2){
   
    
   timer = setInterval(function(){
      
       if (!isPaused){
          
           count -= 1;
           count2 += 1;
           let min = Math.floor(count / 60)
           let sec = count % 60
           if (sec < 10){
               sec = "0" + sec
           };
           
           document.getElementById("timer").innerText = min + ":" + sec;
           document.querySelector(".currentCountDown").value =  min
           
           document.querySelector(".currentSessionTimeInput").value = Math.floor(count2 / 60);

           if (count === 0){
               clearInterval(timer);
               startButton.style.display = "inline-block";
               pauseButton.style.display = "none";
               if ( reps % 8 === 0){
                   playSound('blue')
               }
               else if (reps % 2 === 0){
                   playSound("green")
                   
               }
               else {
                   playSound("red")
                   
                   let workSession = Math.floor(endWork/2)
                   let marks = ""
                   
                   for (let i = 0; i < workSession; i ++){
                       marks += "ðŸ…"
                       totalMin = 30 * workSession
                       totalHours = Math.floor(totalMin / 60)
                       totalHoursMin = totalMin % 60
                   }
                   if (totalHoursMin === 0) {
                       totalHoursMin = "00"
                   }
                   totalTime = totalHours + ":" + totalHoursMin
                   document.querySelector(".reps").innerText = marks
        
                   timeInput.value = totalMin
                  
                   document.querySelector(".submitBtn").style.display = "inline-block"
                   
                   
                 

                   
                   
                   
               };
               
           }; 
           
       }
   }, 1);
};


// ---------------------------- PAUSE -----------------------------
function pause (){
    isPaused = true
    startButton.style.display = "inline-block";
    pauseButton.style.display = "none";
    document.querySelector(".submitBtn").style.display = "inline-block"
    document.querySelector(".submitBtn").disabled = false;
 
};

// ---------------------------- RESUME -----------------------------
function resume (){
    isPaused = false
};



// ---------------------------- RESET -----------------------------

function reset(){
    isPaused = false 
    clearInterval(timer);
    reps = 0
    endWork = 1
    marks = ""
    totalMin = 30
    totalHoursMin = 30

    document.querySelector(".subTitle").innerText = "Timer";
    document.getElementById("timer").innerText = "00:00";
    startButton.style.display = "inline-block";
    pauseButton.style.display = "none"; 

    document.querySelector(".reps").innerText = ""
    document.querySelector(".totalTime").innerText = "Total Time Working:"
    document.querySelector(".totalMin").innerText = "Total Minutes Working:"

};

// ---------------------------- SOUND -----------------------------

function playSound(sound){
    var audio = new Audio("./sounds/" + sound + ".mp3");
      audio.play()
      setTimeout(function(){
        audio.play()
      }, 1000) 
      setTimeout(function(){
        audio.play()
      }, 2000) 
  };



  // squares -----------------------------------------------------

  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

   </script>
    <script src="header/footer.js"></script>
   <script src="timer.js" charset="utf-8"></script>
   <script src="https://unpkg.com/@popperjs/core@2"></script>
   <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

   <%- include("footer") -%>
</html>



